<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to our Retail Fashion Store">
    <meta name="keywords" content="fashion, store">
    <link rel="stylesheet" href="CSS/index_style.css">
    <!-- <link rel="stylesheet" media="screen and (max-width: 768px)" href="CSS/mobile.css"> -->
    <script src="https://kit.fontawesome.com/371c8b79ce.js" crossorigin="anonymous"></script>
    <title>Retail Fashion Store</title>
</head>

<body>
    <header>

        <div id="header">
            <div class="container">

                <h1 class="l-heading">Retail Fashion Store</h1>
                <img src="./img/logo.jpg" alt="LogoOfComapny">

            </div>
        </div>

        <div id="main-content">
            <div class="main-container">
                <div id="dashboard-logo">
                    <img src="./img/dash-logo.png" alt="dash-logo">
                    <h1>Dashboard</h1>
                </div>

                <section id="stats">
                    <div class="box box-1">
                        <!-- logo -->
                        <i class="fa fa-line-chart fa-3x"></i>
                        <!-- heading -->
                        <br>
                        <h2>Total Sales</h2>
                        <!-- value -->
                        <br>
                        <h1 id="ts">0</h1>
                        <!-- para -->
                        <br><br>
                        <h2>Increased by 10%</h2>
                        <!-- img -->
                    </div>
                    <div class="box box-2">
                        <!-- logo -->
                        <i class="fa fa-database fa-3x"></i>
                        <!-- heading -->
                        <br>
                        <h2>Average Sales</h2>
                        <!-- value -->
                        <br>
                        <h1 id="avg_sale">$ 0</h1>
                        <!-- para -->
                        <br><br>
                        <h2>Increased by 30%</h2>
                        <!-- img -->
                    </div>
                    <div class="box box-3">
                        <!-- logo -->
                        <i class="fa fa-flag fa-3x"></i>
                        <!-- heading -->
                        <br>
                        <h2>Unique visitors</h2>
                        <!-- value -->
                        <br>
                        <h1 id="uv">0</h1>
                        <!-- para -->
                        <br><br>
                        <h2>Increased by 80%</h2>
                        <!-- img -->
                    </div>
                </section>

                <div class="clr"></div>

                <section id="tabular-content">
                    <div class="container">
                        <h2>Product Table</h2>
                        <div class="container-table">
                            <table>
                                <thead>
                                    <tr>
                                        <br>
                                        <th>Product ID</th>
                                        <th>User ID</th>
                                        <th>Description</th>
                                        <th>Sales Amount</th>
                                        <!-- <th>Sale Date</th> -->
                                    </tr>
                                </thead>

                                <tbody id="table-b">

                                </tbody>
                            </table>

                        </div>


                    </div>
                </section>

                <a class="btn" href="login.html">Log Out</a>


            </div>
        </div>


    </header>

    <script src="../static/js/script.js"></script>

</body>

</html>