<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to our Hotel">
    <meta name="keywords" content="hotel, beststays">
    <script src="https://kit.fontawesome.com/371c8b79ce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/home_style.css">
    <title>RFS|Register</title>
</head>

<header>

    <nav id="navbar">
        <div class="container">
            <h1 class="logo"><a href="home.html">RFS</a></h1>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a class="current" href="login.html">Login</a></li>
            </ul>
        </div>
    </nav>
</header>

<body>

    <form id="form2">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="password" placeholder="password">
        <input type="submit" value="submit">
    </form>


    <footer id="main-footer">
        <p>RFS &copy; 2022, All Rights Reserved. </p>
    </footer>


    <script src="../static/js/login.js"></script>


</body>

</html>